/* Global animations and utility classes */

@keyframes abruptFadeIn {
    0% {
        opacity: 0.7;
    }

    88% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.abruptFadeIn {
    animation: abruptFadeIn 8s;
}

